<main role="main">
    <br />   <br />
    <section class="jumbotron text-center bg-gray">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to Movie App</h1>
            <br /><br />
            <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien lorem, sagittis nec vulputate posuere, venenatis at erat. Praesent euismod mi nec laoreet aliquam. Cras ultricies congue maximus. Proin ac nunc non lorem viverra tincidunt eu a ante. Suspendisse sit amet nisi laoreet, dictum elit eget, ultrices orci. </p>
            <p>
                <br />
                <a asp-action="Index" asp-controller="Movie" class="btn btn-primary my-2">Movies</a>
                <a asp-action="Index" asp-controller="Series" class="btn btn-primary my-2">Series</a>
            </p>
        </div>
    </section>
    <div class="album py-5 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 450px; width: 100%; display: block;" src="~/img/1.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis non est iaculis bibendum vitae a massa. Ut dictum massa ut sapien accumsan finibus.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action="Details" asp-controller="Movie" asp-route-id="1" class="btn btn-primary my-2">Details</a>
                                </div>
                                <small class="text-muted">- mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 450px; width: 100%; display: block;" src="~/img/Series4.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis non est iaculis bibendum vitae a massa. Ut dictum massa ut sapien accumsan finibus.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action="Details" asp-controller="Series" asp-route-id="4" class="btn btn-primary my-2">Details</a>
                                </div>
                                <small class="text-muted">- mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 450px; width: 100%; display: block;" src="~/img/Series6.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis non est iaculis bibendum vitae a massa. Ut dictum massa ut sapien accumsan finibus.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action="Details" asp-controller="Series" asp-route-id="6" class="btn btn-primary my-2">Details</a>
                                </div>
                                <small class="text-muted">- mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 450px; width: 100%; display: block;" src="~/img/Series1.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis non est iaculis bibendum vitae a massa. Ut dictum massa ut sapien accumsan finibus.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action="Details" asp-controller="Series" asp-route-id="1" class="btn btn-primary my-2">Details</a>
                                </div>
                                <small class="text-muted">- mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 450px; width: 100%; display: block;" src="~/img/6.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis non est iaculis bibendum vitae a massa. Ut dictum massa ut sapien accumsan finibus.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action="Details" asp-controller="Movie" asp-route-id="6" class="btn btn-primary my-2">Details</a>
                                </div>
                                <small class="text-muted">- mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 450px; width: 100%; display: block;" src="~/img/3.jpg" data-holder-rendered="true"> <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis non est iaculis bibendum vitae a massa. Ut dictum massa ut sapien accumsan finibus.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action="Details" asp-controller="Movie" asp-route-id="3" class="btn btn-primary my-2">Details</a>
                                </div>
                                <small class="text-muted">- mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 450px; width: 100%; display: block;" src="~/img/Series2.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis non est iaculis bibendum vitae a massa. Ut dictum massa ut sapien accumsan finibus.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action="Details" asp-controller="Series" asp-route-id="2" class="btn btn-primary my-2">Details</a>
                                </div>
                                <small class="text-muted">- mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 450px; width: 100%; display: block;" src="~/img/4.jpg" data-holder-rendered="true"> <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis non est iaculis bibendum vitae a massa. Ut dictum massa ut sapien accumsan finibus.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action="Details" asp-controller="Movie" asp-route-id="4" class="btn btn-primary my-2">Details</a>
                                </div>
                                <small class="text-muted">- mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 450px; width: 100%; display: block;" src="~/img/2.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis non est iaculis bibendum vitae a massa. Ut dictum massa ut sapien accumsan finibus.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action="Details" asp-controller="Movie" asp-route-id="2" class="btn btn-primary my-2">Details</a>
                                </div>
                                <small class="text-muted">- mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>