@model IEnumerable<CategorySeries>


<div class="list-group">
    @foreach (var categories in Model)
    {
        <a asp-controller="Series" asp-action="Index" asp-route-id="@categories.Id"
           class="list-group-item @(ViewBag.SelectedCategory==categories.Id.ToString()?"active":"")">
            @categories.Name
        </a>
    }
</div>


